body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Nunito;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.body-content {
  padding: 10px;
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
